<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>KARI</title>
	<link rel="stylesheet" href="{{   '/assets/bootstrap/css/bootstrap.min.css' }}" type="text/css">
	<link rel="stylesheet" href="{{   '/assets/fontawesome-free/css/all.min.css' }}" type="text/css">
	<link rel="stylesheet" href="{{  '/assets/vendor/simple-line-icons/css/simple-line-icons.css' }}" type="text/css">
	<link rel="stylesheet" href="{{ '/assets/stylish-portfolio.css' }}" type="text/css">

  
	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>
